:root {
  --black: #000;
  --off-white: #d8b3dbcf;
  --white: rgb(243, 168, 168);
  --accent-color: #f25c54;
  --dark-accent-color: #f5453c;
  --light-background-color: #f7b26740;
  --dark-background-color: #f7b2677a;
}

body {
  color: var(--black);
  background-color: var(--off-white);
  font-family: "Raleway", sans-serif;
}

.container {
  width: 960px;
  display: flex;
}

ul {
  list-style: none;
}

.nav a {
  text-decoration: none;
  color: blue;
}

li {
  width: 125px;
  padding: 0.75em;
  margin: 0.5em;
  border-radius: 20px;
  text-transform: uppercase;
  text-align: center;
}
li.contact {
  color: var(--white);
  background-color: var(--accent-color);
}

li.contact:hover {
  background-color: var(--dark-accent-color);
}

.content h1 {
  color: var(--accent-color);
}
.content h2 {
  font-size: 1.15em;
}
.content p {
  line-height: 1.8em;
}
